.champ
{
background-color:white;
color:rgb(255,155,89);
font-family: 'Raleway', sans-serif;
font-size: 14px;
width: 90%;
height: 25px;
border: 1px solid rgb(255,155,89);
-webkit-appearance: none

}
.champ1
{
background-color: white;
color: rgb(255,155,89);;
font-family: 'Raleway', sans-serif;
font-size: 14px;
width: 90%;
height: 90px;
border: 1px solid rgb(255,155,89);
}
.container
{
	width: 50%;
	position: absolute;
	left: 25%;
	background-color: white;
	margin-top: -20%;
	z-index: 1;
}
.text 
{
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	color: rgb(78, 78, 80);
	font-style: italic;
}
.text1
{
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	color: rgb(78, 78, 80);
}
.about-you,.about-your-company
{
	background-color:white;
	position:relative;
	margin-top: 10px;
	padding-left: 8%;
	padding-bottom: 2%;
	padding-top:30px;
	left: 2%;
	width: 88%;

	

}

#legend1
{
	display: inline-block;
	position: relative;
	left: 30%;
    
}
#legend2
{
	display: inline-block;
	position: relative;
	left: 30%;
    
}
body
{
  background-image: url(../images/background.png);
  background-repeat:repeat;
}
.form
{
	display:inline-block;
	position:relative;
	left:15%;
	font-family: 'Raleway', sans-serif;
	font-size:40px;
	font-style: italic;
	padding-bottom: 0px;
}
.submit
{
	position: relative;
	left:57%;
	right:10%;
	width:33%;
	height: 30px;
	border: 1px solid rgb(255,155,89);
	color: rgb(255,155,89);
	background-color: white;

}
.submit:hover
{
	color: white;
	background-color:  rgb(255,155,89);
}
img
{
width: 100%;
z-index: 2;
}
@media screen and (max-width: 1280px) and (min-width: 900px)
{
.champ
{
background-color:white;
border: 1px solid rgb(255,155,89);
color: rgb(255,155,89);
font-family: 'Raleway', sans-serif;
font-size: 14px;
width: 90%;
height: 25px;
border: 1px solid rgb(255,155,89);
-webkit-appearance: none


}
.champ1
{
background-color:white;
border: 1px solid rgb(255,155,89);
color: rgb(255,155,89);
font-family: 'Raleway', sans-serif;
font-size: 14px;
width: 90%;
height: 90px;

}
.container
{
	width: 60%;
	position: absolute;
	left: 20%;
	background-color: white;
	margin-top: -20%;
	z-index: 1;
}
.text 
{
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	font-style: italic;
}
.text1
{
	font-family: 'Raleway', sans-serif;
	font-size:20px;
}
.about-you,.about-your-company
{
	background-color: white;
	position:relative;
	margin-top: 10px;
	padding-left: 8%;
	padding-bottom: 2%;
	padding-top:30px;
	left: 2%;
	width: 88%;

	

}

#legend1
{
	display: inline-block;
	position: relative;
	left: 20%;
    
}
#legend2
{
	display: inline-block;
	position: relative;
	left: 30%;
    
}
body
{
  background-image: url(../images/background.png);
  background-repeat:repeat;
}
.form
{
	display:inline-block;
	position:relative;
	left:15%;
	font-family: 'Raleway', sans-serif;
	font-size:40px;
	font-style: italic;
	padding-bottom: 0px;
}
.submit
{
	position: relative;
	left:65%;
	right: 1%;
	width:33%;
}
img
{
width: 100%;
z-index: 2;
}
}
@media screen and (min-width: 780px) and (max-width: 899px)
{
.form
{
	display:inline-block;
	position:relative;
	left:20%;
	font-family: 'Raleway', sans-serif;
	font-size:40px;
	font-style: italic;
	padding-bottom: 0px;
}
.champ
{
background-color:white;
border: 1px solid rgb(255,155,89);
color: rgb(255,155,89);
font-family: 'Raleway', sans-serif;
font-size: 14px;
width: 90%;
height: 25px;

}
.champ1
{
background-color:white;
border: 1px solid rgb(255,155,89);
color: rgb(255,155,89);
font-family: 'Raleway', sans-serif;
font-size: 14px;
width: 90%;
height: 90px;


}
.container
{
	width: 60%;
	position: absolute;
	left: 20%;
	background-color: white;
	margin-top: -20%;
	z-index: 2;
}
.text 
{
	font-family:  'Raleway', sans-serif;
	font-size:20px;
	font-style: italic;
}
.text1
{
	font-family:  'Raleway', sans-serif;
	font-size:20px;
}
.about-you,.about-your-company
{
	background-color:white;
	position:relative;
	margin-top: 10px;
	padding-left: 8%;
	padding-bottom: 2%;
	padding-top:30px;
	left: 2%;
	width: 88%;

	

}

#legend1
{
	display: inline-block;
	position: relative;
	left: 0%;
    
}
#legend2
{
	display: inline-block;
	position: relative;
	left: 10%;
    
}
body
{
  background-image: url(../images/background.png);
  background-repeat:repeat;
}

.submit
{
	position: relative;
	left:65%;
	right: 1%;
	width:33%;
}
img
{
width: 100%;
position: relative;
z-index: 1;
}
}